
/*************
* layout
*
*/

body {
    padding-top:20px;
}

.container-narrow { 
    margin:0 auto;
    width:960px;
}
    

/*************
* typography
*
*/

header h1 {
    display:block; width:143px;
    height:0; padding:98px 0 0; overflow:hidden; /* img txt replacement: see: http://www.mezzoblue.com/tests/revised-image-replacement  */ 
    background: url('../images/instaslam_logo.png') center center no-repeat;    
}



/*************
* nav
*
*/

nav {
    border:1px solid #000;
    border-width:2px 0 3px;
    padding:1em 0;    
}

nav a {
    color:black;
    font-weight:bold;
    text-transform:uppercase;
    text-decoration:none;
    margin-right:10px;
}

nav a:hover { 
    text-decoration:none;
    cursor:pointer;
    color:#ff00ff;
    color:#fff;
    background:#666;
    }


/*************
* choice
*
*/

#choice {
    width:100%;
}

#choice a {
    display:block;
    position:relative; /* needed to catch absolutely positioned paragraph */
    margin:0;
    height:416px;
    width:416px;
    background:#eee;
}
#choice a#thing1 {
    float:left;
}
#choice a#thing2 {
    float:right;
}

#choice a p {
    display:none;
    position:absolute;
    top:0; left:0;
    width:416px;
    height:236px; /* padding + height = img height */
    padding:180px 0 0;
    margin:0;
    font-size:3em;
    background:rgba(0,0,0,0.5);
    color:white;
    text-align:center;
}
#choice a:hover p {
    display:block;
}


p#prompt {
    clear:both;
    font-size:2em;
    text-align:center;
    margin:1em 0;
    padding-top:1em;
    top:1em;
}

p#prompt em { /* tag */
    font-style:italic;
}


/*************
* footer
*
*/

footer { 
    clear:both;
    }


/*************
* responsize
*
*/

@media screen and (max-width: 800px){   
    .container-narrow { 
        margin:0 auto;
        width:420px;
    }
    #choice a#thing2 {
        float:left;
        margin-top:10px;
    }

}